@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield');

body {
    background-color: aliceblue
}

h1 {
    font-family: "Mrs Saint Delafield", cursive;
    font-size: 72px;
    margin: 1rem;
};